<%-partial("header",{desc:'Error!',film:'',rate:''})%>
<div id="container">
		<ul class="FavList">
			<li>
				<div class="img-wrap">
					<a href="#" class="id">Уппс... </a>
					<img src="/data/tumblr_m2qclrXUQT1qe0eclo1_r8_500.gif"/>
				</div>				
				<p>Что то пошло не так. Возможно вы робот или на вашей клавиатуре побывал кот ...</p>
            </li>			
		</ul>
</div>
<%-partial("footer")%>
