        <div id="story-1" class="hidden">
			<p><b>Pixmovie.ru</b> - пердставляет собой сборку множества высококачественных гифок с фильмов, есть ссылки на IMDB и его рейтинг.</p> 
			<br/>
			<p>Можно найти хороший фильм для просмотра вечером.</p>
			<p>Новые гифки каждый день.</p>
			<br/>
			<p>Отдельное спасибо : <a href="http://juick.com/iCat/">iCat</a>, <a href="http://skobkin.ru">skobkin</a></p>
			<p>За советы и идеи, и конечно за поддержку.</p>
			
		</div>
        <div id="story-2" class="hidden">
			<p><b>Технологии</b></p>
			<br/>
			<p>Написано на : <br/><a href="http://nodejs.org">node.js</a> + <a href="http://expressjs.com">expressjs</a> + <a href="https://github.com/visionmedia/ejs">ejs</a> + <a href="https://github.com/mikeal/request">request</a> + <a href="http://taffydb.com">taffydb</a></p>
			<p> + HTML + CSS + jQuery</p>
			<br/>
			<p><b>Мои идеи</b></p>
			<p>
				- Сортировка по рейтингу;<br/>
				- Сортировка по жанру;<br/>
				- Режим просмотра;<br/>
				- Ссылки на онлайн просмотр.
				</ul>
			</p>
			<br/>
			<p>Все ваши идеи вы можете прислать на mr4700@gmail.com или <a href="/idea"><b>сюда</b></a></p>
		</div>
        <div id="story-3" class="hidden">
			<p><b>Скоро будет...</b><p>
		</div>
        <!-- JavaScript includes -->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script src="/js/jquery.splitlines.js"></script>
		<script src="/js/jquery.tipTip.minified.js"></script>
        <script src="/js/script.js"></script>
		
		<!-- Google A. -->
		<script type="text/javascript">
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-27357704-2']);
		  _gaq.push(['_trackPageview']);

		  (function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		</script>  
    </body>
</html>