<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="resource-type" content="document" />
		<meta name="distribution" content="global" />
		<meta name="copyright" content="2012, mr47" />
		<meta name="keywords" content="HQ,GIFS,GIF,High Quality gif,hq gif,гиф,High Quality" />
		<meta name="description" content="<%if (desc) {%><%=desc%> &#8212; <%=film%><%} else {%> HQ Gif с фильмов, найди для себя лучший фильм...<%}%>" />
		<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
		<title><%=title%></title>
        <link rel="stylesheet" href="/css/styles.css" />
		<link rel="stylesheet" href="/css/tipTip.css" />
    </head>
    
    <body>
	<div class="menu">
		<a href="/" class="color-4">главная</a><a href="#" class="color-2">Идеи</a><a href="#" class="color-1">О проекте</a><a href="#" class="color-3">Добавить</a>
	</div>
